.country-container {
    margin-top: 5vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.03);
    display: flex;
    flex-direction: column;
    width: 16.5rem;
    color: #121212;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    overflow: hidden;
}

.country-container.dark-mode {
    background-color: #121212;
    color: #fff;
    box-shadow: 0 0 3px 3px rgba(159, 0, 167, 0.2);
}

.flag-container{
    height: 12rem;
}

.flag {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infosection {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    padding: 2em 1.3em 3em;
}

p {
    display: block;
    margin: 0;
}